*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

.home-page{
  min-height:100dvh;

}

/* NAVBAR */

.navbar{
  position:fixed;
  top:1rem;
  left: 7%;
  width: 85%;
  z-index:1000;
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0.4rem 4rem;
  background: transparent;
  border-radius: 1000px;
}

.navbar.scrolled {

    background: var(--gradient-navbar);
    /*background: rgba(0, 28, 80, 0.13);*/
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border-bottom: 1px solid var(--border-bottom);
}


.logo{
  font-family: 'LogoFont', sans-serif;
  font-size:2rem;
  letter-spacing: 5px;
  font-weight:800;
  color:var(--primary-dark);
  font-style: bold;
  margin-top: 0.5rem;
}


.nav-links{
  display:flex;
  gap:6rem;
  height:100%;
}

.nav-links a{
  position: relative;
  text-decoration: none;
  color: var(--primary-dark);
  font-family: var(--font-secondary);
  font-weight: 600;
  transition: all 0.3s ease;
}

.nav-links a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: var(--primary);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.35s ease;
}

.nav-links a:hover{
  color: var(--primary);
  transform: translateY(-2px);
}

.nav-links a:hover::after{
  transform: scaleX(1);
}

.nav-links > a:hover::after,
.dropdown:hover .dropdown-trigger::after {
  transform: scaleX(1);
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 16px);
  left: 50%;

  transform: translateX(-50%) translateY(10px);

  min-width: 240px;

  background: var(--gradient-dropdown);
  border: 1px solid var(--primary-light);
  backdrop-filter: blur(20px);
  --webkit-backdrop-filter: blur(20px);
  border-radius: 18px;

  box-shadow:
    0 20px 40px rgba(0,0,0,.12);

  padding: 0.75rem;

  opacity: 0;
  visibility: hidden;

  transition:
    opacity .25s ease,
    transform .25s ease,
    visibility .25s ease;

  z-index: 1001;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.dropdown-menu a::after {
  display:none;
}

.dropdown-menu a {
  display: block;

  padding: 0.85rem 1rem;

  text-decoration: none;
  color: var(--primary-dark);

  border-radius: 12px;

  transition: all .25s ease;
}

.dropdown-menu a:hover {
  background: var(--primary-lighter);
  color: var(--surface);
}

.dropdown::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 20px;
}

.login-btn{
  border:none;
  cursor:pointer;

  padding:.85rem 1.6rem;

  background:var(--primary);
  color:white;

  border-radius:999px;
  font-weight:600;

  transition:.3s ease;
}

.login-btn:hover{
  background:var(--primary-light);
  transform:translateY(-2px);
}

.scroll-to-top{
  position:fixed;
  bottom:3rem;
  right:3rem;
  z-index:1000;

  opacity:0;
  visibility:hidden;
  transition:opacity .3s ease, visibility .3s ease;
}

.scroll-to-top.scrolled{
  opacity:1;
  visibility:visible;
}

.scroll-to-top button{
  width:50px;
  height:50px;
  background:var(--primary);
  border:none;
  border-radius:999px;
  color: var(--surface);
  font-style: bold;
  box-shadow:var(--shadow-light);
  cursor:pointer;
  padding:0.5rem;
}

.scroll-to-top img{
  filter: invert(100%);
  width: 100%;
  height: 100%;
}